html {
    font-size: 1.5em;
}

body {
    background-color: #3b945e;
    color: #182628;
    font-family: 'EB Garamond', serif;
}

body,html {
    height: 100%;
}

section {
    padding-top: 100px;
}

#navbar {
    background-color: #182628;
}

.nav-link:link {
    color: #3b945e;
    font-weight: bold;
}

.nav-link:visited {
    color: #3b945e;
}

.nav-link:hover {
    color: #3b945e;
    text-decoration-line: underline;
}

.nav-link:active {
    color: #3b945e;
}

#welcome-section {
    padding-top: 0px;
    margin-top: 0px;
    display: block;
    height: 100vh;
    align-self: center;
    flex-direction: column;
}

#contacts {
    padding-top: 0px;
    margin-top: 0px;
    display: block;
    height: 100vh;
    flex-direction: column;
}

#profile-link:link {
    color: #edf5e1;
    font-weight: bold;
    text-decoration-line: none;
}

#profile-link:visited {
    color: #edf5e1;
    text-decoration-line: none;
}

#profile-link:hover {
    color: #edf5e1;
    text-decoration-line: none;
    font-size: 150%;
}

#profile-link:active {
    color: #edf5e1;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: #639476;
    }
}